* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  transition: all 0.25s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

:root {
  --primary: #171a21;
  --secondary: #a5c4d4;
  --accent-1: #fcba04;
  --accent-2: #7b6d8d;
  --accent-3: #8499b1;
  --accent-4: #981b1e;
  --bg-lt: #e6eaef;
  --white: #ffffff;
  --black: #171a21;
}

h1 {
  text-align: center;
  margin: 0.625rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 2.625rem;
  color: var(--primary);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-lt);
}

.wrapper>main {
  flex-grow: 1;
}

.wrapper>footer {
  background-color: var(--primary);
  color: var(--white);
  font-size: 0.75rem;
  text-align: center;
  padding: 0.625rem 1.25rem;
}

.wrapper>footer a {
  color: var(--white);
}

.wrapper>footer a:hover,
.wrapper>footer a:focus {
  color: var(--accent-1);
}

.board {
  max-width: 1400px;
  padding: 1.25rem;
  margin: auto;
}

.board__inner {
  display: flex;
  margin: 0 -0.625rem;
  flex-wrap: wrap;
}

.card {
  margin: 0.625rem;
  background: transparent;
  width: 9.5rem;
  height: 11.75rem;
  perspective: 1000px;
  cursor: pointer;
  transition: all 1s;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.card.flipped .card__inner,
.card.matched .card__inner {
  transform: rotateY(180deg);
}

.card__back,
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0.25rem solid var(--white);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px var(--primary);
  transition: all 1s;
}

.card:hover .card__back,
.card:hover .card__front,
.card:focus .card__back,
.card:focus .card__front {
  border-color: var(--accent-1);
}

.card__back {
  background-color: var(--accent-4);
  background-image: url(../images/card-back.svg);
  background-size: 12px 12px;
}

.card__front {
  background-color: var(--accent-3);
  transform: rotateY(180deg);
}

.card.matched {
  opacity: 0.5;
}

.card.matched .card__front {
  background-color: var(--accent-1);
  border-color: var(--primary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.75rem;
  }
}